body{
	background-color: lightblue;
	width: 960px;
	margin: 0 auto;
}

#luv h3{
	color: white;
	margin-left: 500px;
}
#welcome h2 {
	color: white; 
	border-radius: 20px;
}

#welcome img{
    border-radius: 20px;
    border: 5px solid white;
    width: 50px;
}
h1{
	 font-size: 70px;
	 text-align: center;
     color: white;
	 font-family: sans-serif;
}


#ambi h2 p{
	 margin-bottom: 30px;

}
.about{
	margin-top: 40px;
}
.about h2{
	background-color:white;
	border-radius: 50px;
	padding=20px;
}

.about{
	padding: 7px;
	font-weight: bold;
	background-color: lightblue;
	border-radius: 20PX;
}

.about li, p {
	font-size:20px; 
}


.socicons{
	position: absolute;
	top:15%;
	right: 1%;
}

.socicons ul li{
	 list-style-type: none;
	 padding: 2px;
}

.socicons img{
    width: 50px;
    border-radius: 8px;
}


#prf img{
	width: 900px;
	height: 100px; 
	margin: 0 auto;
}

#drf img{
	align:center;
	width:200px;
	height: 100px;
	border:0px;
}

table, tr, th, td{
	border: 1px solid;
	text-align: center;
	margin: 0px;
	padding: 6px;
	font-weight: bold;
	background-color: #c4ff8f;
}

input[type=checkbox]{

	color: black;
}
.nav ul li{
	display: inline;
    margin-right: 109px;
    padding:7px;
    background-color: yellow;
    border-radius: 20px;
    float: center;
    border-color: white;
}
.nav ul li:hover{
	background-color: #efefef;
	color: blue;
	width: 100px;
	transform: scale(1.1);
}

.nav ul li a:hover{
	width :100px;
	font-size: 40px;

	}

.active {
	background-color: green;
}
 a{
	text-decoration: none;
}
.nav ul{

	font-style: initial;
	margin: 10px;
	padding: 10px;
	text-align: center;
	display:block;
	font-size: 30px;
	font-weight: bold;

	
}
h2{
	font-size: 30px;
	text-align: center;
	font-style: initial;
	font-family: sans-serif;
}

#span{
	font-weight: lighter;
}
header{
	padding: 20px;
}
#pic img{
width: 250px;
float: left; 
}
#welcome{
	text-align: center;
}
#welcome img{
	width:500px;
}
#def table{
	border-radius: 4;
	border-spacing: 0px;
	padding: 6px;
}
#sbmt:hover{
	background-color: green;
}
#contact{
	background-color: #a57051;
	width: 600px;
	margin-left: 350px;
}

.row{
	height: 100%;
	font-size: 20px;
	margin: 15px 0;
	border:1px solid;
	padding: 20px 20px;
}
.row p{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}
.row input{
height: 30px;
width: 600px;
padding: 0px;
}
.row textarea{
	height: 90px;
	width: 600px;
	padding: 0px;
}
#submit_button:hover{
	margin: 0 auto;
background-color: lightgreen;
}
#para
{
	font-size: 20px;
	padding: 5px;
}
#video{
	float: right;
}

#foot h5 {
	position: absolute;
	color: white;
	bottom: 0px;
	width: 1000px;
	padding-left: 10px;
	margin-left: 0%;

}

#abtfoot h5 {
	position: absolute;
	color: white;
	bottom: 0px;
	width: 1000px;
	padding-left: 10px;
	left: 40%;

}
iframe{
	float: left;

	border-radius: 20px;
	border :2px solid white;
	


}
